@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --dark_blue: hsl(209, 33%, 12%);
    --gray: hsl(0, 0%, 59%);
    --red: hsl(354, 100%, 66%);
    --pale_blue: hsl(223, 100%, 88%);
    --blue: #4f7df3;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 2.5rem 1rem 2.5rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 500px;
}

main > img {
    margin: 0 0 2rem 0;    
}

main .img-2-container img {
    width: 100%;  
}

footer ul li a img {
    width: 18px;
    height: 18px;
    filter: invert(41%) sepia(95%) saturate(2331%) hue-rotate(210deg) brightness(102%) contrast(91%);
}


footer ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray);
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 25px;
    transition: all 0.15s ease-in-out;
}

footer ul li a:hover {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

footer ul li a:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2.5rem 0rem 0.5rem 0rem;
    padding: 0;
}

footer p {
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--gray);
}

main h1 {
    font-weight: 300;
    color: var(--gray);
}

main h1 span {
    font-weight: 700;
    color: var(--dark_blue);
}

form {
    width: 100%;
}

main h2 {
    font-size: 20px;
    font-weight: 300;
    color: var(--dark_blue);
    margin-top: 0.6rem;
}

.email-action-container {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    margin: 2rem 0 4rem 0;
}

.email-action-container input {
    font-family: 'Libre Franklin', sans-serif;
    border: 1px solid var(--gray);
    border-radius: 25px;
    width: 65%;
    padding:  0.8rem 0.8rem 0.8rem 1.5rem;
    font-weight: 600;
}

.email-action-container input:focus {
    outline: none;
}

.email-action-container .email-action-container-invalid {
    border: 1px solid var(--red);
    background-color: lightcoral;
}

.email-action-container .email-action-container-valid {
    border: 1px solid green;
    background-color: lightgreen;
}

.email-action-container button {
    font-family: 'Libre Franklin', sans-serif;
    border: none;
    border-radius: 25px;
    width: 30%;
    padding: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.75px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.email-action-container button:hover {
    background-color: var(--pale_blue);
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 550px) {
    main {
        width: 100%; 
    }

    main h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    main h2 {
        font-size: 0.9rem;
        text-align: center;
    }

    main > img {
        height: 18px;
        margin-top: 0;
    }

    .email-action-container {
        flex-direction: column;
        gap: 1.5rem;
        margin: 1rem 0 0 0;
    }

    .email-action-container input {
        width: auto;
    }

    .email-action-container button {
        width: 100%;
    }

    footer ul li a img {
        width: 14px;
        height: 14px;
    }

    footer p {
        font-size: 0.7rem;
    }
}
    
